In [1]:
import numpy as np
import pandas as pd

In [2]:
gameData = pd.read_csv('steam.csv')

In [3]:
gameData.head(2)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99

In [8]:
gameData.dropna(inplace=True)

In [9]:
gameData.shape

(27075, 21)

In [10]:
gameData.duplicated().sum()

0

In [11]:
gameData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27075 entries, 0 to 27074
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   appid                 27075 non-null  int64
 1   name                  27075 non-null  object
 2   release_date          27075 non-null  object
 3   english               27075 non-null  int64
 4   developer             27075 non-null  object
 5   publisher             27075 non-null  object
 6   platforms             27075 non-null  object
 7   required_age          27075 non-null  int64
 8   categories            27075 non-null  object
 9   genres                27075 non-null  object
 10  steamspy_tags         27075 non-null  object
 11  achievements          27075 non-null  int64
 12  positive_ratings      27075 non-null  int64
 13  negative_ratings      27075 non-null  int64
 14  average_playtime      27075 non-null  int64
 15  median_playtime       27075 non-null  int64
 16  owners                27075 non-null  object
 17  price                 27075 non-null  float64
 18  detailed_description  27075 non-null  object
 19  about_the_game        27075 non-null  object
 20  short_description     27075 non-null  object
dtypes: float64(1), int64(8), object(12)
memory usage: 4.5+ MB

In [12]:
gameData = gameData[['appid', 'name', 'release_date', 'developer', 'categories', 'genres', 'steamspy_tags']]

In [15]:
gameData.head(2)

,appid,name,release_date,developer,categories,genres,steamspy_tags,short_description
0,10,Counter-Strike,2000,Valve,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,Play the world's number 1 online action game. ...
1,20,Team Fortress Classic,1999,Valve,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,One of the most popular online action games of...

In [16]:
gameData.rename(columns = {'release_date':'release_year'}, inplace = True)

In [19]:
gameData['genres'] = gameData['genres'].apply(lambda x:x.split(';'))
gameData['steamspy_tags'] = gameData['steamspy_tags'].apply(lambda x:x.split(';'))

In [20]:
gameData['categories'] = gameData['categories'].apply(lambda x:[i.replace(" ", "-") for i in x])
gameData['genres'] = gameData['genres'].apply(lambda x:[i.replace(" ", "-") for i in x])
gameData['steamspy_tags'] = gameData['steamspy_tags'].apply(lambda x:[i.replace(" ", "-") for i in x])

In [21]:
gameData['short_description'] = gameData['short_description'].apply(lambda x:x.split())

In [22]:
gameData['categories'] = gameData['categories'].apply(lambda x:[i.lower() for i in x])
gameData['genres'] = gameData['genres'].apply(lambda x:[i.lower() for i in x])
gameData['steamspy_tags'] = gameData['steamspy_tags'].apply(lambda x:[i.lower() for i in x])

In [23]:
gameData.head(2)

,appid,name,release_year,developer,categories,genres,steamspy_tags,short_description
0,10,Counter-Strike,2000,Valve,"[multi-player, online-multi-player, local-mult...",[action],"[action, fps, multiplayer]","[Play, the, world's, number, 1, online, action..."
1,20,Team Fortress Classic,1999,Valve,"[multi-player, online-multi-player, local-mult...",[action],"[action, fps, multiplayer]","[One, of, the, most, popular, online, action, ..."

In [24]:
gameData['developer'] = gameData['developer'].apply(lambda x:x.lower())
gameData['short_description'] = gameData['short_description'].apply(lambda x:[i.lower() for i in x])

In [25]:
gameData.head(2)

,appid,name,release_year,developer,categories,genres,steamspy_tags,short_description
0,10,Counter-Strike,2000,valve,"[multi-player, online-multi-player, local-mult...",[action],"[action, fps, multiplayer]","[play, the, world's, number, 1, online, action..."
1,20,Team Fortress Classic,1999,valve,"[multi-player, online-multi-player, local-mult...",[action],"[action, fps, multiplayer]","[one, of, the, most, popular, online, action, ..."

In [26]:
processed_df = gameData[['appid', 'name']]

In [27]:
newTags = pd.read_csv('steamspy_tag_data.csv')

In [28]:
def myFunc(x):
    L = []
    for i in x:
        L.append(i)
    return L

newTags['myNewTags'] = newTags[newTags.columns[1:]].apply(myFunc, axis=1)
newTags = newTags[['appid', 'myNewTags']]

In [29]:
processed_df = processed_df.merge(newTags, on='appid')

In [30]:
processed_df

,appid,name,myNewTags
0,10,Counter-Strike,"[144, 564, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,20,Team Fortress Classic,"[0, 71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20..."
2,30,Day of Defeat,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 99,..."
3,40,Deathmatch Classic,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 85,..."
4,50,Half-Life: Opposing Force,"[0, 77, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 21..."
...,...,...,...
27070,1065230,Room of Pandora,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
27071,1065570,Cyber Gun,"[0, 0, 0, 0, 0, 0, 0, 12, 0, 0, 0, 0, 0, 0, 21..."
27072,1065650,Super Star Blast,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 21,..."
27073,1066700,New Yankee 7: Deer Hunters,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
27074,1069460,Rune Lord,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [31]:
vectors = []
for i in range(processed_df.shape[0]):
    vectors.append(np.array(processed_df['myNewTags'].to_numpy()[i], dtype='int64'))
vectors = np.array(vectors)

In [32]:
vectors

array([[144, 564,   0, ...,   0,   0, 550],
       [  0,  71,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0]], dtype=int64)

In [33]:
processed_df.head(2)

,appid,name,myNewTags
0,10,Counter-Strike,"[144, 564, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,20,Team Fortress Classic,"[0, 71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20..."

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)

In [36]:
processed_df[processed_df['name'] == 'Day of Defeat'].index[0]

2

In [37]:
def recommend(game):
    game_index = processed_df[processed_df['name'] == game]
    if game_index.shape[0] == 0:
        print("No Game Found")
        return
    game_index = game_index.index[0]
    distances = similarity[game_index]
    game_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:11]
    
    for i in game_list:
        print(processed_df.iloc[i[0]]['name'])

In [38]:
recommend('Ricochet')

Half-Life Deathmatch: Source
Chaser
Deathmatch Classic
Section 8®: Prejudice™
Unreal 2: The Awakening
Half-Life 2: Deathmatch
QUAKE Mission Pack 2: Dissolution of Eternity
E.T. Armies
MadSpace: To Hell and Beyond
Judge Dredd: Dredd vs. Death