In [1]:
import numpy as np
import pandas as pd

In [2]:
gameData = pd.read_csv('../Datasets/steam.csv')

In [3]:
gameData.head(2)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99

In [4]:
gameData['owners'] = gameData['owners'].apply(lambda x:x.split('-'))

In [5]:
gameData['owners'] = gameData['owners'].apply(lambda x:(x[0]))

In [6]:
gameData['owners'] = gameData['owners'].apply(lambda x:int(x))

In [7]:
gameData = gameData[gameData['owners'] >= 50000]

In [8]:
gameData.shape

(5420, 18)

In [9]:
gameData.dropna(inplace=True)

In [10]:
gameData.shape

(5420, 18)

In [11]:
gameData.duplicated().sum()

0

In [12]:
gameData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5420 entries, 0 to 26981
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             5420 non-null   int64
 1   name              5420 non-null   object
 2   release_date      5420 non-null   object
 3   english           5420 non-null   int64
 4   developer         5420 non-null   object
 5   publisher         5420 non-null   object
 6   platforms         5420 non-null   object
 7   required_age      5420 non-null   int64
 8   categories        5420 non-null   object
 9   genres            5420 non-null   object
 10  steamspy_tags     5420 non-null   object
 11  achievements      5420 non-null   int64
 12  positive_ratings  5420 non-null   int64
 13  negative_ratings  5420 non-null   int64
 14  average_playtime  5420 non-null   int64
 15  median_playtime   5420 non-null   int64
 16  owners            5420 non-null   int64
 17  price             5420 non-null   float64
dtypes: float64(1), int64(9), object(8)
memory usage: 804.5+ KB

In [13]:
gameData = gameData[['appid', 'name', 'release_date', 'developer', 'categories', 'genres', 'steamspy_tags']]

In [14]:
processed_df = gameData[['appid', 'name']]

In [15]:
newTags = pd.read_csv('../Datasets/steamspy_tag_data.csv')

In [16]:
newTags.head(2)

,appid,1980s,1990s,2.5d,2d,2d_fighter,360_video,3d,3d_platformer,3d_vision,...,warhammer_40k,web_publishing,werewolves,western,word_game,world_war_i,world_war_ii,wrestling,zombies,e_sports
0,10,144,564,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,550
1,20,0,71,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
def myFunc(x):
    L = []
    for i in x:
        L.append(i)
    return L

newTags['myNewTags'] = newTags[newTags.columns[1:]].apply(myFunc, axis=1)
newTags = newTags[['appid', 'myNewTags']]

In [18]:
processed_df = processed_df.merge(newTags, on='appid')

In [19]:
processed_df.head(6)

,appid,name,myNewTags
0,10,Counter-Strike,"[144, 564, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
1,20,Team Fortress Classic,"[0, 71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20..."
2,30,Day of Defeat,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 99,..."
3,40,Deathmatch Classic,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 85,..."
4,50,Half-Life: Opposing Force,"[0, 77, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 21..."
5,60,Ricochet,"[0, 0, 0, 0, 0, 0, 13, 0, 0, 0, 0, 0, 0, 0, 10..."

In [20]:
L = np.zeros(371)
(processed_df[processed_df['name'] == "Brawlhalla"])

       appid        name                                          myNewTags
2058  291550  Brawlhalla  [0, 0, 0, 690, 641, 0, 0, 0, 0, 323, 0, 0, 0, ...

In [21]:
mediaData = pd.read_csv('../Datasets/steam_media_data.csv')

In [22]:
mediaData.head(2)

,steam_appid,header_image,screenshots,background,movies
0,10,https://steamcdn-a.akamaihd.net/steam/apps/10/...,"[{'id': 0, 'path_thumbnail': 'https://steamcdn...",https://steamcdn-a.akamaihd.net/steam/apps/10/...,NaN
1,20,https://steamcdn-a.akamaihd.net/steam/apps/20/...,"[{'id': 0, 'path_thumbnail': 'https://steamcdn...",https://steamcdn-a.akamaihd.net/steam/apps/20/...,NaN

In [23]:
mediaData.rename(columns = {'steam_appid':'appid'}, inplace = True)

In [24]:
processed_df = processed_df.merge(mediaData[['appid', 'header_image']], on='appid')

In [25]:
vectors = []
for i in range(processed_df.shape[0]):
    vectors.append(np.array(processed_df['myNewTags'].to_numpy()[i], dtype='int64'))
vectors = np.array(vectors)

In [26]:
vectors

array([[144, 564,   0, ...,   0,   0, 550],
       [  0,  71,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       ...,
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0],
       [  0,   0,   0, ...,   0,   0,   0]], dtype=int64)

In [52]:
processed_df.head(2)

,appid,name,myNewTags,header_image
0,10,Counter-Strike,"[144, 564, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",https://steamcdn-a.akamaihd.net/steam/apps/10/...
1,20,Team Fortress Classic,"[0, 71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 20...",https://steamcdn-a.akamaihd.net/steam/apps/20/...

In [28]:
info = processed_df[['appid', 'name']]

In [42]:
info.head(2)

   appid                   name
0     10         Counter-Strike
1     20  Team Fortress Classic

In [50]:
info.to_csv('data.csv', index=False)

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
similarity = cosine_similarity(vectors)

In [32]:
def recommend(game):
    game_index = processed_df[processed_df['name'] == game]
    if game_index.shape[0] == 0:
        print("No Game Found")
        return
    game_index = game_index.index[0]
    distances = similarity[game_index]
    game_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:11]
    
    for i in game_list:
        print(processed_df.iloc[i[0]]['name'])

In [33]:
recommend('Counter-Strike')

Counter-Strike: Condition Zero
Counter-Strike: Source
Deathmatch Classic
Team Fortress Classic
Half-Life Deathmatch: Source
QUAKE III: Team Arena
Call of Duty® 4: Modern Warfare®
Battlefield: Bad Company™ 2
Counter-Strike: Global Offensive
QUAKE Mission Pack 2: Dissolution of Eternity

In [34]:
import pickle

In [35]:
pickle.dump(processed_df.to_dict(), open('processed_df_dump.pkl', 'wb'))

In [36]:
pickle.dump(similarity, open('similarity_dump.pkl', 'wb'))

In [37]:
pickle.dump(vectors, open('vectors_dump.pkl', 'wb'))

In [38]:
myVectors = pickle.load(open('vectors_dump.pkl', 'rb'))

In [39]:
myVector = myVectors[0]

In [40]:
from numpy.linalg import norm

In [41]:
distances = np.dot(myVectors,myVector)/(norm(myVectors, axis=1)*norm(myVectors))

game_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:11]   

for i in game_list:
    print(processed_df.iloc[i[0]]['name'])

Counter-Strike: Condition Zero
Counter-Strike: Source
Deathmatch Classic
Team Fortress Classic
Half-Life Deathmatch: Source
QUAKE III: Team Arena
Call of Duty® 4: Modern Warfare®
Battlefield: Bad Company™ 2
Counter-Strike: Global Offensive
QUAKE Mission Pack 2: Dissolution of Eternity